<h1><%= @task.title.capitalize %></h1>

<p><%= @task.details  %></p>

<input type="checkbox" name="completed" <%= @task.completed ? "checked" : "" %> >
<p><%= @task.completed ? "Done" : "Not completed yet" %></p>

<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Back to tasks", tasks_path %>
